.main-image-container
  position: relative
  .main-image
    width: 100%
    display: block
    // outline: 2px solid $blue
.main-image-overlay
  position: absolute
  top: 50%
  height: 6.5em
  margin-top: -3.25em
  padding: .5em
.yum-image
  position: absolute
  top: -2.5,em
  right: -2.5em
  display: none
.home-page.page-padding
  padding: 0

.order-link
  h1
    margin-bottom: 0
    border: 1px solid $red
    padding: .5em
  border: 3px solid $red
  display: block
  padding: .1em
  
  &:hover
    background: $red
    color: white
    h1
      color: white
.free-delivery
  margin: 0 auto
  display: block
  margin-top: -1.2em
  position: relative

@media all and (min-width: $break-medium)
  .main-image-container
    border: 2px solid white
    outline: 3px solid $blue
  .main-image
    border: 1px solid $blue
    padding: 3px
  .home-page.page-padding
    padding: 2em
  .yum-image
    display: block
